/* stylelint-disable at-rule-no-unknown */

@import 'tailwindcss';

@theme {
   --color-base-color: #416e47;
   --color-base-hover-color: #2e4d31;
   --color-light-color: #e1ece2;
   --color-dark-color: #2e4d31;
}
