/* stylelint-disable at-rule-no-unknown */

@import 'tailwindcss';

@theme {
   --color-pink: #fe00a9;
   --color-turquoise: #00fed4;
   --color-yellow: #fefe00;
   --color-green: #5bff09;
   --color-orange: #fd6500;
   --color-blue: #1b2cc1;
}

@font-face {
   font-family: 'pointless';
   src: url('/fonts/Pointless.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
   font-display: optional;
}

@font-face {
   font-family: 'squarified';
   src: url('/fonts/Squarified.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
   font-display: optional;
}

* {
   font-family: 'Momo Trust Sans', sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
}

.pointless {
   font-family: pointless, sans-serif;
}

.squarified {
   font-family: squarified, sans-serif;
}

.play-bold {
   font-family: 'Play', sans-serif;
   font-weight: 700;
   font-style: normal;
}

@keyframes sheen {
   100% {
      transform: rotateZ(60deg) translate(1em, -9em);
   }
}
